.everything{
  display:flex;
  justify-content: center;
  align-items: center;
  /* background: #222; */
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;

}
body{
  background-image:url('https://source.unsplash.com/1600x900/?landscape');
  margin: 0px;
}
.title{
  background-color: #000000d0;
  color: white;
  padding: 17px 30px;
  width:200px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
}
.card{
  background: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin-top: 3em;
  height: 250px;
  width: 540px;

}
.search{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 75px;
}
.all{
  width: 100%;
  max-width: 420px;
  margin: 1em;
  position: relative;
  right: 40px;
}
button{
  margin: 1em;
  border-radius: 24px;
  height:3.5em;
  width:3.5em;
  background: #000000d0;
  color: white;
  border: none;
  outline: none;
  padding-top: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
button:hover{
  background-color: #7c7c7c6b;
  color:black;
}
input.search-bar{
  border:0px;
  outline: 0;
  height:3em;
  width:18em;
  background: #000000d0;
  color: white;
  border-radius: 24px;
  padding-left: 15px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Just a moment please";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}
